@page
@using Microsoft.Extensions.Localization
@using NecnatAbp.HierarchyManagement.Localization
@using NecnatAbp.HierarchyManagement.Web.Pages.HierarchyManagement
@model NecnatAbp.HierarchyManagement.Web.Pages.HierarchyManagement.IndexModel
@inject IStringLocalizer<HierarchyManagementResource> L

@{
}
<h1>HierarchyManagement</h1>
<p>@L["SamplePageMessage"]</p>
