@page "/HierarchyManagement"
@using Microsoft.Extensions.Localization
@using global::NecnatAbp.HierarchyManagement.Localization
@inject IStringLocalizer<HierarchyManagementResource> L
@{
}
<h1>HierarchyManagement</h1>
<p>@L["SamplePageMessage"]</p>